body{
    margin: 0;
    font-family: math;
    background-color: $light;
}

h1, h2, h3, h4{
    font-family: fantasy;
}

h2 {
    color: $main;
    font-size: 44px;
    -webkit-text-stroke: 1px $dark;
}

h3 {
    color: $dark;
    font-size: 32px;
    font-family: math;
}
